$fontFamily: Tahoma, sans-serif;

@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamProMedium/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
	url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProLight";
	src: url("../fonts/GothamProLight/GothamProLight.eot");
	src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamProBold";
	src: url("../fonts/GothamProBold/GothamProBold.eot");
	src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
	url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProBlack";
	src: url("../fonts/GothamProBlack/GothamProBlack.eot");
	src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
	url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamProRegular";
	src: url("../fonts/GothamProRegular/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
	url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	width: 100%;
	font-size: 16px; font-size: 1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

h1   { font-size: 48px; font-size: 3rem; } /* =48px */
h2   { font-size: 52px; font-size: 3.25rem;} /* =52px */
h3   { font-size: 36px; font-size: 2.25rem; text-transform: uppercase;} /* =36px */
h4   { font-size: 20px; font-size: 1.25rem;} /* =20px */
h5   { font-size: 16px; font-size: 1rem;} /* =16px */
p    { font-size: 16px; font-size: 1rem;} /* =16px */


.navbar-dark .navbar-toggler {
	outline: none;
}

.header,
.main_red{
	width: 100%;
	height: auto;
	background: url(../img/bg-red.png);
	background-size: cover;
}
.main_white{
	width: 100%;
	background: #fff;
}
.main_grey{
	width: 100%;
	background: #f5f5f7;
	display: flex;
	justify-content: center;
}
.row{
	position: relative;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   HEADER+NAV  xxxxxxxxxxxxxxxxxxxxxxx*/

nav{
	position: relative;
	margin-top: 23px;
	display: flex;
	
	ul.nav-justified
	{
		width: 100%;
		position: relative;
		padding: 0;
		display: flex;
		margin-top: 10px;

		.move_left{
			margin-left: -50px;
		}

		.move_right{
			margin-right: -50px;
		}

		li{
			width: 100%;
			display: inline-block;
			list-style-type: none;
			z-index: 10;

			a{
				outline: none;
				text-decoration: none;
				padding: 0;
				color: #fff;
				font-size: 0.875rem;
				font-family: "GothamProMedium";
			}	
			.shift{
				padding-left: 20px;
			}	

		}
	}
}
.logo{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	z-index: 5;

	img{
		position: relative;
		margin: -30px 0 0 -20px;
	}
}
.replica{
	margin: 30px 0;
	color: #fff;
	h1{
		font-family: "GothamProBlack";
		text-align: center;
		text-transform: uppercase;
	}
	p{
		font-family: "GothamProRegular";
		text-align: center;
		margin: 30px 0px;
	}
}
.bt_wrap{
	text-align: center;
	margin:0px 0px 11.5% 0px;
	display: block;

	.ghost-button-rounded-corners {
		display: inline-block;
		width: 255px;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 22px;
		text-align: center;
		font-family: "GothamProMedium";
		font-size: 16px;
		line-height: 50px;
		outline: none;
		text-decoration: none;
		margin: 10px 15px;
		&:hover{
			background-color: #aac65a;
			color: #fff;
			border: 1px solid #aac65a;
		}
	}
}
.wrap_border{
	width:100%;
	border-bottom: 1px solid #e3e3e5;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   ОБЩАЯ ИНФОРМАЦИЯ О ФИТНЕСЕ   xxxxxxxxxxxxxxxxxxxxxxx*/


.content{
	position: relative;

	h3{ 
		margin-top: 90px;
		width: 100%;
		text-align: center;
		font-family: "GothamProBlack";
		color: #d65045;

		span{
			font-family: "GothamProLight";
		}
		.black{
			font-family: "GothamProBlack";
			color: #000;
		}
	}
	.bg_wrap{
		display: flex;
		justify-content: center;

		img{
			position: absolute;
			margin-top: 45px;
		}
	}

	.wrap_top{ 
		margin:45px 0 90px 0;
		width: 100%;
	}
	.wrap_text{
		width: 100%;
		margin-bottom: 30px;
		h4{
			font-family: "GothamProMedium";
			color: #3b3e47;
		}
		p{
			font-family: "GothamProRegular";
			color: #626670;
		}
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   ТРЕНЕР   xxxxxxxxxxxxxxxxxxxxxxx*/


.trainer_content{
	position: relative;
	.content_responsive{
		h4{
			font-family: "GothamProRegular";
			text-transform: uppercase;
			line-height: 1.5rem;
			color: #8a8e99;
			margin-top: 90px;
		}
		h3{
			font-family: "GothamProBlack";
			line-height: 70px;
			color: #3b3e47;
		}
		p{
			margin: 20px 0;
			font-family: "GothamProRegular";
			color: #575b66;
		}
	}

	.text_responsive{
		p{
			margin: 20px 0;
			margin: 0;
			font-family: "GothamProRegular";
			color: #575b66;
		}
	}
	.text_too_responsive{
		margin-bottom: 100px;
		p{
			margin: 20px 0;
			font-family: "GothamProRegular";
			color: #575b66;
		}
	}
}
@media (min-width: 991px) and (max-width: 1600000px){
	.hidden-lg-up {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 1600000px) {
	.hidden-md-up {
		display: none !important;
	}
}
.trainer_photo{
	margin-top: 142px;
}
@media (min-width: 0px) and (max-width: 579px){
	.hidden-xs-up {
		display: none !important;
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   АБОНЕМЕНТЫ   xxxxxxxxxxxxxxxxxxxxxxx*/


.new_year_wrap{
	margin-top: 80px;
	text-align: center;
	.caption{
		width: 100%;
		display: block;

		h2{
			font-family: "GothamProBlack";	
			color: #fff;
			text-transform: uppercase;
		}
	}

	.button_wrap{
		width: 100%;
		display: block;
		margin: 35px 0;

		.active{
			z-index: 2;
			background-color: #fac746;
			color: #876c27;
			border: none;
		}

		button {
			background-color: rgba(255,255,255,0);
			display: inline-block;
          margin: 10px 10px;
			width: 200px;
			color: #fff;
			border-radius: 22px;
			text-align: center;
			font-family: "GothamProMedium";
			font-size: 0.875rem;
			line-height: 2.8125rem;
			outline: none;
			border: none;
			text-decoration: none;
			&:hover{
				background-color: #fac746;
				color: #876c27;
			}
		}

		/*xxxxxxxxxxxxxxxxxxxxxxxxx  ПОПАП-ЗАЯВКА   xxxxxxxxxxxxxxxxxxxxxxx*/


		@media (min-width: 480px){
			.modal-dialog {
				max-width: 400px;
				margin: 3.5rem auto;
			}
		}
		.modal-content{
			border-radius: 20px;
			border: none;
			.modal-top{
				text-align: center;
				margin: 0 55px;
				p{  
					margin-top: 55px;
					color: #575b66;
					line-height: 24px;
					font-family: "GothamProRegular";
				}
				.close{
					width: 20px;
					padding: 0;
					span{
						color: #c2c4cc;
						width: 20px;
						height: 20px;
						margin: 3px 35px;
						position: absolute;
						font-size: 40px;
						font-weight: 100;
						font-family: "GothamProRegular";
						transform: rotate(45deg);
						-ms-transform: rotate(45deg); /* IE 9 */
						-webkit-transform: rotate(45deg); /* Safari and Chrome */
					}
				}
			}
			.form-group{
				margin: 0 55px;
				color: #575b66;
				.form-control{
					margin: 10px 5px;
					padding: .4rem 1.5rem;
					width: 96.5%;
					border: 1px solid #d9dade;
					border-radius: 6px;
					font-size: 1rem;
					line-height: 2rem;
					color: #575b66;	
				}
				.form-control:focus{
					box-shadow: none;
				}
			}
			.application_wrap{
				margin: 0 55px;
				.application_button{
					width: 96.5%;
					margin: 15px 0 60px 0;
					background-color: #aac65a;
					color: #fff;
					font-family: "GothamProRegular";
					line-height: 3.125rem;
					border: none;
					border-radius: 25px;
					outline: none;
				}
			}
		}
	}
}
/*xxxxxxxxxxxxxxxxxxxxxxxxx  THE_END ПОПАП-ЗАЯВКА   xxxxxxxxxxxxxxxxxxxxxxx*/


.subscription_wrap{
	text-align: center;
	position:relative;
	margin-bottom: 125px;

	.subscrip_two{
		margin: 40px;
	}
	.subscrip_one,
	.subscrip_two,
	.subscrip_three
	{
		display: inline-block;
		width: 270px;
		background-color: #fff;
		border-radius: 10px;
		text-align: center;

		.candy_wrap,
		.amulet_wrap,
		.gift_wrap{
			display: flex;
			justify-content: flex-end;
			margin: -24px -14px;
		}
		h5{
			font-family: "GothamProBlack";
			line-height: 1.5rem;
			color: #575b66;
			text-transform: uppercase;
		}
		.price{
			font-family: "GothamProLight";
			font-size: 3.25rem;
			line-height: 5rem;
			color: #9aaf4e;
			margin-top: 30px;
		}
		p{
			font-family: "GothamProLight";
			color: #9296a0;
		}
	}
	.gift_massage_gray,
	.gift_massage_yellow,
	.gift_massage_red{
		text-align: center;
		position: relative;
		color: #fff;
		margin:45px -2px 50px -10px;
		p{
			font-family: "GothamProMedium";
			line-height: 3.125rem;
			margin-top: -56px;
		}
		img{

		}
	}
	.gift_massage_gray{
		
	}
	.gift_massage_yellow{
		p{
			color: #876c27;
		}
	}
	.gift_massage_red{
		width: 113%;
		margin: 45px 0 50px -17px;
		p{
			color: #fff;
		}
	}
	.button_wrap_green{
		position: absolute;
		.select_button{
			background: #aac65a;
			font-family: "GothamProMedium";
			font-size: 1rem;
			line-height: 3.125rem;
			color: #fff;
			text-decoration: none;
			width: 175px;
			display: block;
			margin: -25px 0px 0px 50px;
			border-radius: 20px;	
			outline: none;	
		}
	}

	/*xxxxxxxxxxxxxxxxxxxxxxxxx   ПОКУПКА АБОНЕМЕНТЕ ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/

	@media (min-width: 992px){
		.modal-lg {
			max-width: 940px;
		}
		.modal-content{
			border-radius: 15px;
			border: none;
		}
		.subscription_payment{
			width: 100%;
			display: flex;
			justify-content: flex-start;

			.payment_left{
				width: 42.5%;
				background: url(../img/bg-red.png);
				border-radius: 15px 0 0 15px;

				.subscrip_one,
				.subscrip_two,
				.subscrip_three{
					margin: 90px 0 90px;
					.gift_massage_gray,
					.gift_massage_yellow{
						margin: 45px -2px 20px -10px;
						p{
							line-height: 2.5rem;
						}

					}
					.gift_massage_red{
						margin: 45px -2px 20px -17px;
						p{
							line-height: 2.5rem;
						}
					}
				}
				
			}
			.payment_rigth{
				width: 57%;

				.close{
					width: 20px;
					padding: 0px;
					margin: 5px 10px;
					span{
						color: #c2c4cc;
						width: 20px;
						height: 20px;
						margin: 3px -10px;
						position: absolute;
						font-size: 40px;
						font-weight: 100;
						font-family: "GothamProRegular";
						transform: rotate(45deg);
						-ms-transform: rotate(45deg); /* IE 9 */
						-webkit-transform: rotate(45deg); /* Safari and Chrome */
					}
				}

				.payment_content{
					margin: 50px 55px;
					text-align: justify;

					p{
						font-family: "GothamProRegular";
						color: #575b66;
						line-height: 24px;

						span{
							color: #3b3e47;
							font-family: "GothamProMedium";
						}
					}
					.ways_of{
						display: flex;
						justify-content: flex-start;
						p{
							color: #c2c4cc;
							font-family: "GothamProMedium";
							text-transform: uppercase;
							margin: 15px 10px 10px 0;
						}
						img{
							height: 35px;
							margin: 8px 10px;
						}
					}
					.application_wrap{
						.application_button{
							width: 75.5%;
							margin: 35px 0 40px 0;
							background-color: #aac65a;
							color: #fff;
							font-family: "GothamProRegular";
							line-height: 3.125rem;
							border: none;
							border-radius: 25px;
							outline: none;
						}
					}
				}
			}
		}
	}
}
/*xxxxxxxxxxxxxxxxxxxxxxxxx   THE-END ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxx   РАСПИСАНИЕ  xxxxxxxxxxxxxxxxxxxxxxx*/

.schedule_wrap{
	position:relative;
	text-align: center;
	margin-top: 90px;

	.wrap_caption{
		display: block;
		text-align: center;
		margin-bottom: 30px;

		h3{
			font-family: "GothamProBlack";
			color: #3b3e47;
		}
	}
	.schedule_wrap_img{
		display: block;
		margin-bottom: 75px;

		img{
			width: 100%;

		}
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   МОТИВАЦИЯ ДЛЯ КЛИЕНТА   xxxxxxxxxxxxxxxxxxxxxxx*/

.motivation_wrap{
	position:relative;
	margin-top: 90px;

	.wrap_caption{
		display: block;
		text-align: center;

		h3{
			font-family: "GothamProBlack";
			color: #3b3e47;
		}
	}
	.motiv_client{
		width: 100%;
		display: block;
		margin: 55px 0 70px 0;

		h4{
			font-family: "GothamProMedium";
			color: #d65045;
		}
		p{
			font-family: "GothamProRegular";
			line-height: 1.5rem;
			color: #6c7079;
			margin-bottom: 25px;
		}
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   ЗАПИСАТСЯ НА ТРЕНИРОВКУ   xxxxxxxxxxxxxxxxxxxxxxx*/

.write_wrap_block{
  position: relative;
  display: flex;
	flex-direction: row;
	align-items: stretch;
  justify-content: start;
}

.trial_subscription_wrap{
	width: 70%;
  display: inline-block;
	.subscription{
		
		display: inline-block;
		margin: 135px 0 0 0;

		h1{
			width: 105%;
			font-family: "GothamProBlack";
			text-transform: uppercase;
			color: #fff;
		}

	}
	.sub_content{
		width: 105%;
		display: inline-block;
		float: none;
		p{
			font-family: "GothamProLight";
			color: #fff;
			margin-top: 20px;

			span{
				font-family: "GothamProMedium";
			}
		}
	}
	.entry_wrap{
		width: 75%;
		display: inline-block;
		float: none;
		margin: 55px 0 135px 0;
		text-align: center;

		a{
			width: 320px;
			display: block;
			background-color: #aac65a;
			color: #fff;
			font-family: "GothamProMedium";
			line-height: 3.125rem;
			border: none;
			border-radius: 22px;

			&:hover{
				text-decoration: none;
			}

		}
	}
}

.bell_wrap{
  display: inline-block;
	width: 25%;
	img{
		margin: 75px 0 0 30px;

	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx  ОТЗЫВ КЛИЕНТА   xxxxxxxxxxxxxxxxxxxxxxx*/

.client_review_wrap{
	width: 100%;
	position: relative;

	.client_review {
      margin-top: 80px;

      h4 {
        font-family: "GothamProRegular";
        text-transform: uppercase;
        line-height: 4rem;
        color: #8a8e99;
      }
      h3 {
        font-family: "GothamProBlack";
        font-size: 2rem;
        line-height: 2.5rem;
        color: #3b3e47;
        margin-bottom: 25px;
      }
      .review_cl{
         display: block;
         position: relative;
          p {
            width: 100%;
            font-family: "GothamProRegular";
            color: #575b66;
         }
       }
	}
  .pictures{
    position: relative;
    display: flex;
    justify-content: start;
    margin-top: 60px;

    a {
      outline: none;

      img{
        width: 120px;
        height: 120px;
        object-fit: fill;
        margin-right: 20px;
        z-index: 10;
      }
      .pic {
        position: absolute;
        top: 0;
        width: 120px;
        height: 120px;
        margin-right: 20px;
        z-index: 20;
        background: rgba(0, 0, 0, 0.5);

        &:hover {
          background: url(../img/cursor.png) no-repeat;
          background-color: rgba(0, 0, 0, 0.6);
          background-position: center center;
        }
      }
    }
  }
}

.client_photo{
	margin-top: 120px;
}

.photo_trainings{
	margin: 95px 0 65px;

	h3{
		font-family: "GothamProBlack";
		color: #3b3e47;
		text-align: center;
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   ФОТО С ТРЕНИРОВКИ   xxxxxxxxxxxxxxxxxxxxxxx*/

.img-trainings{
	text-align: center;
	margin-bottom: 90px;

	a{
		outline: none;
	}

	img {
		width: 220px;
		height: 150px;
		margin: 10px 6px 10px 6px;
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   ГУГЛ КАРТА   xxxxxxxxxxxxxxxxxxxxxxx*/

.adress{
	display: block;
	text-align: center;

	h3{
		font-family: "GothamProBlack";
		line-height: 40px;
		color: #3b3e47;
		text-transform: uppercase;
		margin: 90px 0 20px;
	}
	p{
		font-family: "GothamProRegular";
		color: #9a9da3;
	}
}
.main_maps{
	width: 100%;
	.map-responsive{
		overflow:hidden;
		padding-bottom: 36%;
		position:relative;
		height:0;
	}
	.map-responsive iframe{
		left:0;
		top:0;
		height: 700px;
		width:100%;
		position:absolute;
	}

}
.footer_content{
	width: 70%;
	margin-top: 140px;
	h1{
		font-family: "GothamProBlack";
		text-transform: uppercase;
		color: #fff;
	}
	p{
		font-family: "GothamProLight";
		color: #fff;
		margin-top: 20px;
	}

	.footer_button{
		margin-top: 50px;

		a{
			display: inline-block;
			color: #fff;
			border: 1px solid #fff;
			border-radius: 22px;
			text-align: center;
			font-family: "GothamProMedium";
			font-size: 16px;
			line-height: 50px;
			outline: none;
			text-decoration: none;

			&:hover{
				background-color: #aac65a;
				color: #fff;
				border: 1px solid #aac65a;
			}
		}

		.ghost-button-enroll{
			width: 320px;
			margin-right: 15px;

		}
		.ghost-button_entry{
			width: 270px;
		}

	}
}
.santa_wrap{
	width: 30%;
	margin: 95px 20px 90px;
	img{
		width: 100%;
	}
}


/*xxxxxxxxxxxxxxxxxxxxxxxxx   АДАПТИВ   xxxxxxxxxxxxxxxxxxxxxxx*/

@media (max-width: 1199.99px) {

	.replica{
		margin: 30px 0px;
		color: #fff;

		h1{
			font-size: 2.3rem;
		}
		p{
			font-size: 0.9rem;
		}
	}
	.content{
		h3{ 
			font-size: 2rem;		
		}
		.bg_wrap{
			img{
				width: 250px;
				height: 365px;
				margin-top: 40px;
			}
		}
		.wrap_text{
			h4{
				font-size: 0.9rem;
			}
			p{
				font-size: 0.8rem;
			}
		}
	}
	.trainer_content{
		width: 100%;
		position: relative;
		.content_responsive{
			h4{
				font-size: 1.1rem;
			}
			h3{
				font-size: 2rem;
			}
			p{
				font-size: 0.9rem;
			}
		}
		.text_responsive{	
			p{
				font-size: 0.9rem;
			}
		}
		.text_too_responsive{	
			p{
				font-size: 0.9rem;
			}
		}
	}
	.trainer_photo{
		margin-top: 237px;
	}
	
	.schedule_wrap {
		.wrap_caption {
			h3 {
				font-size: 2rem;
			}
		}
	}
	.new_year_wrap{
		.caption{
			h2{
				font-size: 3rem;
			}
		}
	}

	.motivation_wrap{
		.wrap_caption{

			h3{
				font-size: 2rem;
			}
		}
		.motiv_client{
			h4{
				font-size: 1rem;
			}
			p{
				font-size: 0.9rem;
			}
		}
	}
	.trial_subscription_wrap{
		.subscription{
			h1{
				font-size: 2.5rem;
			}
		}
		.sub_content{
			p{
				width: 95%;
				font-size: 0.9rem;
			}
		}
		.entry_wrap{
			width: 75%;
			margin: 55px 0 135px 0;
			text-align: center;
		}
	}
	.bell_wrap{
		width: 28%;
		img{
			width: 100%;
			margin: 120px 0 0 30px;
		}
	}
	.client_review_wrap{
		.client_review{
			margin: 80px 0 0 25px;

			h4{
				line-height: 2rem;
			}
			h3{
				margin-bottom: 15px;
				font-size: 1.6rem;
				line-height: 2rem;
			}
			p{
				width: 95%;
				font-size: 1rem;
			}
		}

	}
	.client_photo{
		margin-top: 130px;
		width: 120%;
	}
	.photo_trainings{
		h3{
			font-size: 2rem;
		}
	}
	.img-trainings{
		img {
			width: 184px;
		}
	}
	.adress{
		h3{
			font-size: 2rem;
			line-height: 40px;
			margin: 90px 0 20px;
		}
		p{
			font-size: 16px;
		}
	}
	.footer_content{
		width: 70%;
		margin-top: 140px;
		h1{
			font-size: 2.5rem;
			color: #fff;
		}
		p{
			font-size: 0.9rem;
			margin-top: 20px;
		}
		.footer_button{
			margin-top: 50px;
			a{
				font-size: 16px;
				line-height: 50px;
			}
			.ghost-button-enroll{
				width: 260px;
				margin-right: 15px;
			}
			.ghost-button_entry{
				width: 220px;
			}
		}
	}
	.santa_wrap{
		width: 30%;
		margin: 95px 20px 90px;
	}
}

@media (max-width: 991.99px) {

	nav{
		display: flex;
		ul.nav-justified{

			flex-wrap: wrap;
			.move_left{
				margin-left: 0;
			}
			.move_right{
				margin-right: 0;
			}
			li.part{
				white-space: nowrap;
				margin: 10px 20px;
			}
		}
	}
	.replica{
		h1{
			font-size: 1.7rem;
		}
		p{
			font-size: 0.8rem;
		}
	}
	.bt_wrap{
		.ghost-button-rounded-corners {
			width: 245px;
		}
	}
	.content{
		h3{ 
			font-size: 1.8rem;		
		}
		.bg_wrap{
			img{
				height: 335px;
			}
		}
		.wrap_top{ 
			width: 97%;
			margin:45px 0 60px 0;
		}
		.wrap_text{
			margin-bottom: 30px;
			h4{
				font-size: 0.8rem;
			}
			p{
				font-size: 0.7rem;
			}
		}
	}
	.trainer_content{
		position: relative;
		.content_responsive{
			h4{
				font-size: 0.9rem;
			}
			h3{
				font-size: 1.8rem;
				line-height: 45px;
			}
			p{
				font-size: 0.9rem;
				margin: 0;
			}
		}
		.text_responsive{	
			display: none;
		}
		.text_too_responsive{	
			display: none;
		}
	}
	.trainer_txt{
		margin: 20px 0px;
		p{
			width: 102%;
			font-family: "GothamProRegular";
			color: #575b66;
			font-size: 0.9rem;
		}
	}
	.trainer_txt_three{
		margin: 20px 0;
		p{
			width: 102%;
			font-family: "GothamProRegular";
			color: #575b66;
			font-size: 0.9rem;
		}
	}
	.trainer_photo{
		margin-top: 0;
	}
	
	.subscription_wrap{

		.subscrip_two{
			margin-left: 40px;

		}
		.subscrip_three{
			margin-top: 40px;

		}
	}
	.schedule_wrap {
		.wrap_caption {
			h3 {
				font-size: 1.8rem;
			}
		}
	}
	.motivation_wrap{
		.wrap_caption{

			h3{
				font-size: 1.8rem;
			}
		}
		.motiv_client{
			h4{
				font-size: 0.8rem;
			}
			p{
				font-size: 0.7rem;
			}
		}
	}
	.trial_subscription_wrap{
		width: 70%;

		.subscription{
			margin: 100px 0 0 0;
			h1{
				font-size: 2rem;
			}
		}
		.sub_content{
			p{
				width: 92%;
				font-size: 0.9rem;
			}
		}
		.entry_wrap{
			margin: 35px 0 100px 0;
			text-align: center;
			a{
				width: 280px;
				line-height: 2.725rem;
			}
		}
	}
	.bell_wrap{
		width: 30%;
		img{
			margin: 55px 0 0 0;
		}
	}
	.client_caption{
		margin: 80px 0 0 20px;

		h4{
			font-family: "GothamProRegular";
			text-transform: uppercase;
			color: #8a8e99;
			line-height: 2rem;
		}
		h3{
			width: 100%;
			margin-bottom: 15px;
			font-size: 1.2rem;
			line-height: 1.6rem;
			font-family: "GothamProBlack";
			color: #3b3e47;
		}

	}
	.client_review_wrap{
		.client_review{
			margin: 15px 0 0 40px;
			h4{
				line-height: 2rem;
			}
			h3{
				width: 80%;
				margin-bottom: 15px;
				font-size: 1.2rem;
				line-height: 1.6rem;
			}
			p{
				width: 92.5%;
				font-size: 0.85rem;
			}
			.client_content{
				display: none;
			}
		}
		.pictures{
			a{
				img{
					width: 100px;
                  height: 100px;
				}
				.pic{
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	.client_photo{
		margin-top: 15px;
	}

	.photo_trainings{
		margin: 55px 0 45px;

		h3{
			font-size: 1.7rem;
		}
	}
	.img-trainings{
		margin-bottom: 90px;
		img {
			width: 164px;
			margin: 10px 6px 10px 6px;
		}
	}
	.adress{
		h3{
			font-size: 1.9rem;
			margin: 60px 0 20px;
		}
		p{
			font-size: 0.9rem;
		}
	}

	.footer_content{
		width: 70%;
		margin-top: 70px;
		h1{
			font-size: 1.9rem;
		}
		p{
			font-size: 0.8rem;
		}
		.footer_button{
			margin-top: 40px;
			a{
				font-size: 0.8rem;
				line-height: 40px;
			}
			.ghost-button-enroll{
				width: 220px;
				margin-right: 15px;
			}
			.ghost-button_entry{
				width: 170px;
			}
		}
	}
	.santa_wrap{
		width: 30%;
		margin: 50px 20px 50px;
	}
}


@media (max-width: 769px) {

	.replica{
		h1{
			font-size: 1.5rem;
		}

	}
	.bt_wrap{
		.ghost-button-rounded-corners {
			width: 215px;
			font-size: 0.9rem;
			line-height: 40px;
		}
	}
	.content{
		h3{ 
			width: 100%;
			font-size: 1.5rem;		
		}
		.bg_wrap{
			img{
				height: 302px;
				margin-top: 13px;
			}
		}
		.wrap_top{
			margin: 15px 0 15px 0;
		}
		.wrap_text{
			h4{
				font-size: 0.7rem;
			}
			p{
				font-size: 0.57rem;
			}
		}
	}
	.trainer_content{
		.content_responsive{
			h3{
				font-size: 1.6rem;
				line-height: 40px;
			}
			p{
				font-size: 0.8rem;
			}
		}
	}
	.trainer_txt{
		p{
			font-size: 0.8rem;
		}
	}
	.trainer_txt_three_too{
		p{
			width: 87%;
			font-size: 0.8rem;
		}
	}
	
	.trainer_txt_three{
		display: none;
	}
	.trainer_txt_three_too{
		p{
			font-size: 0.8rem;
			font-family: "GothamProRegular";
			color: #575b66;
		}
	}
	.trainer_photo{
	}
	
	.subscription_wrap{
		text-align: center;
		.subscrip_two{
			margin: 15px 0 20px 0;
		}
		.tab-content{
			display: flex;
			justify-content: space-around;
		}
		.subscrip_one,
		.subscrip_two,
		.subscrip_three
		{
			display: inline-block;
			width: 220px;
			margin: 40px 20px;

			.candy_wrap,
			.amulet_wrap,
			.gift_wrap{
				display: flex;
				justify-content: flex-end;
				margin: -24px -14px;
			}
			h5{
				font-size: 0.8rem;
				line-height: 1rem;
			}
			.price{
				font-size: 3rem;
				line-height: 4rem;
				margin-top: 20px;
			}
		}
		.gift_massage_gray,
		.gift_massage_yellow,
		.gift_massage_red{

			text-align: center;
			position: relative;
			width: 107%;
			margin: 20px -30px 50px -10px;

			img{
				width: 102%;
			}
			p{
				font-size: 0.9rem;
				line-height: 3.125rem;
				padding-top: 5px;
			}
		}
		.gift_massage_red{
			width: 110%;
		}
		.button_wrap_green{
			position: absolute;
			.select_button{
				font-size: 0.9rem;
				line-height: 3.125rem;
				width: 155px;
				margin: -25px 0px 0px 32px;		
			}
		}
	}
	.schedule_wrap {
		.wrap_caption {
			h3 {
				font-size: 1.6rem;
			}
		}
	}

	.new_year_wrap{
		.caption{
			h2{
				font-size: 2.5rem;
			}
		}
	}
	.motivation_wrap{
		.wrap_caption{

			h3{
				font-size: 1.6rem;
			}
		}
	}
	.trial_subscription_wrap{
		width: 70%;

		.subscription{
			h1{
				width: 100%;
				font-size: 1.5rem;
			}
		}
		.sub_content{
			width: 104%;
			p{
				font-size: 0.6rem;
			}
		}
		.entry_wrap{
			width: 75%;
			margin: 15px 0 95px 0;
			text-align: center;
			a{
				width: 220px;
				font-size: 0.7rem ;
				line-height: 2.125rem;
			}
		}
	}
	.bell_wrap{
		width: 30%;
	}
	


	.client_caption{
		margin: 50px 0 0 20px;
		width: 82%;

		h4{
			line-height: 1rem;
			font-size: 0.8rem;
		}
		h3{
			font-size: 0.8rem;
			line-height: 1.1rem;
		}

	}
	.client_review_wrap{
		.client_review{
			margin: 15px 0 0 15px;
			p{
				width: 100%;
				font-size: 0.65rem;
			}
			
		}
		.pictures{
              margin-top: 40px;
			a{
				img {
                  width: 85px;
                  height: 85px;
                }
				.pic {
                  width: 85px;
                  height: 85px;
                }
			}
		}
	}
	.client_photo{
		margin: 15px 0 0 15px;
	}



	.photo_trainings{
		margin: 40px 0 30px;
		h3{
			font-size: 1.6rem;
		}
	}
	.img-trainings{
		text-align: center;
		margin-bottom: 90px;
		img {
			width: 220px;
			margin: 10px 6px 10px 6px;
		}
	}
	.adress{
		h3{
			font-size: 1.8rem;
			margin: 50px 0 20px;
		}
		p{
			font-size: 0.8rem;
		}
	}
	.footer_content{
		width: 70%;
		margin-top: 70px;
		h1{
			font-size: 1.4rem;
		}
		p{
			font-size: 0.7rem;
		}
		.footer_button{
			margin-top: 35px;
			a{
				font-size: 0.7rem;
				line-height: 30px;
			}
			.ghost-button-enroll{
				width: 160px;
				margin-right: 15px;
			}
			.ghost-button_entry{
				width: 120px;
			}
		}
	}
	.santa_wrap{
		width: 30%;
		margin: 45px 0 50px;
	}
	
}

@media (max-width: 575.99px) {

	nav ul.nav-justified li .shift {
		padding-left: 0;
	}

	.logo{
		img{
			margin: -25px 0px 0px -25px; 
		}
	}
	.replica{
		h1{
			font-size: 1.4rem;
		}
	}
	.bt_wrap{
		.ghost-button-rounded-corners {
			width: 200px;
		}
	}
	.content{
		h3{ 
			width: 100%;
			font-size: 1.3rem;		
		}
		.bg_wrap{
			img{
				width: 300px;
				height: 440px;
				margin-top: 130px;
			}
		}
		.wrap_top{
			margin: 15px 0 15px 0;
		}
		.wrap_text{
			h4{
				font-size: 0.9rem;
			}
			p{
				font-size: 0.8rem;
			}
		}
	}
	.trainer_content{
		margin-top: -40px;
		.content_responsive{
			margin: 10px 20px;
			h3{
				font-size: 1.4rem;
				line-height: 30px;
			}
			h4{
				font-size: 0.8rem;
			}
		}
	}
	.trainer_txt{
		margin: 10px 20px;
	}
	.trainer_txt_three_too{
		margin: 10px 20px 30px;
		p{
			width: 100%;
		}
	}
	.new_year_wrap .button_wrap {
		margin: 35px 0 0;
	}

	.subscription_wrap{

		.subscrip_one,
		.subscrip_two{
			margin: 40px 15px 15px;
		}
	}
	.schedule_wrap {
		.wrap_caption {
			h3 {
				font-size: 1.4rem;
			}
		}
	}
	.new_year_wrap{
		.caption{
			h2{
				font-size: 2rem;
			}
		}
	}
	.motivation_wrap{
		.wrap_caption{

			h3{
				font-size: 1.4rem;
			}
		}
	}
	.trial_subscription_wrap{
		width: 70%;

		.subscription{
			margin: 60px 0 0 15px;
			h1{
				font-size: 1.1rem;
			}
		}
		.sub_content{
			width: 95%;
			margin: 0 0 0 15px;
			p{
				margin: 5px 0;
				font-size: 0.6rem;
			}
		}
		.entry_wrap{
			margin: 15px 0 70px 15px;
			text-align: center;
			a{
				width: 155px;
				font-size: 0.6rem ;
				line-height: 2rem;
			}
		}
	}
	.bell_wrap {
		width: 30%;
		img{
			margin: 40px 0 0px -15px;
		}
	}
	.client_photo{
		display: none;
	}

	.client_caption {
		margin: 50px 0 0 15px;
	}
	.client_review_wrap{
		.client_review{
			margin: 10px 0 0 15px;
			h4{
				line-height: 2rem;
			}
			h3{
				width: 80%;
				margin-bottom: 15px;
				font-size: 1.2rem;
				line-height: 1.6rem;
			}
			p{
				width: 92.5%;
				font-size: 0.85rem;
              text-align: justify;
			}
			.client_content{
				display: none;
			}
		}
      .pictures{
      justify-content: center;
        margin-bottom: 40px;
      }

	}
	.photo_trainings{
		margin: 30px 0 20px;
		h3{
			font-size: 1.5rem;
		}
	}
	.img-trainings{
		text-align: center;
		margin-bottom: 40px;
		img {
			width: 180px;
			margin: 10px 6px 10px 6px;
		}
	}
	.adress{
		h3{
			font-size: 1.4rem;
			margin: 30px 0 10px;
		}
		p{
			font-size: 0.7rem;
		}
	}
	.footer_content{
		width: 70%;
		margin: 50px 0 0 15px;
		h1{
			font-size: 1.2rem;
		}
		p{
			font-size: 0.6rem;
		}
		.footer_button{
			margin-top: 30px;
			margin-bottom: 40px;
			a{
				font-size: 0.6rem;
				line-height: 30px;
			}
			.ghost-button-enroll{
				width: 130px;
			}
			.ghost-button_entry{
				width: 110px;
			}
		}
	}
	.santa_wrap{
		width: 30%;
		margin: 25px 0 30px;
	}

}


@media (max-width: 479px) {
	.hidden-up {
		display: none !important;
	}
	.footer_content{
		width: 70%;
		margin: 50px 0 0 15px;

		h1{
			font-size: 0.8rem;
		}

		.footer_button{
			width: 140%;
			margin-top: 10px;
			margin-bottom: 40px;
			a{
				font-size: 0.6rem;
				line-height: 24px;
			}
			.ghost-button-enroll{
				width: 130px;
			}
			.ghost-button_entry{
				margin-top: 20px;
				width: 110px;
			}
		}
	}
	.santa_wrap{
		width: 30%;
		margin: 25px 0 30px;
	}

}

@media (max-width: 370px) {
	.footer_content{
		width: 70%;
		margin: 50px 0 0 15px;

		h1{
			font-size: 0.8rem;
		}

		.footer_button{
			width: 150%;
			margin-top: 10px;
			margin-bottom: 40px;
			a{
				font-size: 0.6rem;
				line-height: 24px;
			}
			.ghost-button-enroll{
				width: 130px;
			}
			.ghost-button_entry{
				margin-top: 20px;
				width: 110px;
			}
		}
	}
	.santa_wrap{
		width: 30%;
		margin: 25px 0 30px;
	}

}


/*xxxxxxxxxxxxxxxxxxxxxxxxx   ПОКУПКА АБОНЕМЕНТЕ ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/

@media (min-width: 200px){
	.modal-lg {
		max-width: 450px;
	}
	.modal-content{
		border-radius: 15px;
		border: none;
	}
	.subscription_payment{
		width: 100%;

		.payment_left{
			width: 100%;
			background: url(../img/bg-red.png);
			border-radius: 15px 15px 0 0;

			.subscrip_one,
			.subscrip_two,
			.subscrip_three{
				margin: 60px 0 60px;
				.gift_massage_gray,
				.gift_massage_yellow{
					margin: 45px -2px 20px -10px;
					p{
						line-height: 2.5rem;
					}

				}
				.gift_massage_red{
					margin: 45px -2px 20px -17px;
					p{
						line-height: 2.5rem;
					}
				}
			}

		}
		.payment_rigth{
			width: 100%;
			.close{
				width: 20px;
				padding: 0;
				margin: -45px 10px;
				span{
					color: #c2c4cc;
					width: 20px;
					height: 20px;
					margin: 3px -10px;
					position: absolute;
					font-size: 40px;
					font-weight: 100;
					font-family: "GothamProRegular";
					transform: rotate(45deg);
					-ms-transform: rotate(45deg); /* IE 9 */
					-webkit-transform: rotate(45deg); /* Safari and Chrome */
				}
			}
			.payment_content{
				margin: 50px 55px;
				text-align: justify;

				p{
					font-family: "GothamProRegular";
					color: #575b66;
					line-height: 24px;

					span{
						color: #3b3e47;
						font-family: "GothamProMedium";
					}
				}
				.ways_of{
					text-align: center;
					p{
						color: #c2c4cc;
						font-family: "GothamProMedium";
						text-transform: uppercase;
						margin: 15px 10px 10px 0;
					}
					img{
						margin: 0 10px;
					}
				}
				.application_wrap{
					text-align: center;
					.application_button{
						width: 75.5%;
						margin: 35px 0 40px 0;
						background-color: #aac65a;
						color: #fff;
						font-family: "GothamProRegular";
						line-height: 3.125rem;
						border: none;
						border-radius: 25px;
						outline: none;
					}
				}
			}
		}
	}
}
/*xxxxxxxxxxxxxxxxxxxxxxxxx   THE-END ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/



@media (min-width: 320px) and (max-width: 479px) {

	.trial_subscription_wrap{

		.subscription{
			margin: 40px 0 0 0;
			h1{
				font-size: 0.8rem;
			}
		}
		.sub_content{
			width: 95%;
			margin: 0;
			p{
				font-size: 0.6rem;
			}
		}
		.entry_wrap{
			margin: 15px 0 35px 15px;
			text-align: center;
			a{
				width: 150px;
				font-size: 0.6rem ;
				line-height: 1.7rem;
			}
		}
	}

	.new_year_wrap {
		.button_wrap{
			/*xxxxxxxxxxxxxxxxxxxxxxxxx  ПОПАП-ЗАЯВКА   xxxxxxxxxxxxxxxxxxxxxxx*/

			@media (min-width: 200px){
				.modal-dialog {
					max-width: 300px;
					margin: 3.5rem auto;
				}
			}
			.modal-content{
				border-radius: 20px;
				border: none;
				.modal-top{
					text-align: center;
					margin: 0 20px;
					p{  
						margin-top: 55px;
						color: #575b66;
						line-height: 24px;
						font-family: "GothamProRegular";
					}
					.close{
						width: 20px;
						padding: 0;
						margin: 3px 35px;
						span{
							color: #c2c4cc;
							width: 20px;
							height: 20px;
							margin: 3px 35px;
							position: absolute;
							font-size: 40px;
							font-weight: 100;
							font-family: "GothamProRegular";
							transform: rotate(45deg);
							-ms-transform: rotate(45deg); /* IE 9 */
							-webkit-transform: rotate(45deg); /* Safari and Chrome */
						}
					}
				}
				.form-group{
					margin: 0 20px;
					color: #575b66;
					.form-control{
						margin: 10px 5px;
						padding: .4rem 1.5rem;
						width: 96.5%;
						border: 1px solid #d9dade;
						border-radius: 6px;
						font-size: 1rem;
						line-height: 2rem;
						color: #575b66;	
					}
					.form-control:focus{
						box-shadow: none;
					}
				}
				.application_wrap{
					margin: 0 20px;
					.application_button{
						width: 96.5%;
						margin: 15px 0 60px 0;
						background-color: #aac65a;
						color: #fff;
						font-family: "GothamProRegular";
						line-height: 3.125rem;
						border: none;
						border-radius: 25px;
						outline: none;
					}
				}
			}


			/*xxxxxxxxxxxxxxxxxxxxxxxxx  THE_END ПОПАП-ЗАЯВКА   xxxxxxxxxxxxxxxxxxxxxxx*/
		}
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx   ПОКУПКА АБОНЕМЕНТЕ ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/

@media (min-width: 200px) {
	.modal-lg {
		max-width: 550px;
	}
	.modal-content{
		border-radius: 15px;
		border: none;
	}
	.subscription_payment{
		width: 100%;

		.payment_left{
			width: 100%;
			background: url(../img/bg-red.png);
			border-radius: 15px 15px 0 0;

			.subscrip_one,
			.subscrip_two,
			.subscrip_three{
				margin: 60px 0 60px;
				.gift_massage_gray,
				.gift_massage_yellow{
					margin: 45px -2px 20px -10px;
					p{
						line-height: 2.5rem;
					}

				}
				.gift_massage_red{
					margin: 45px -2px 20px -17px;
					p{
						line-height: 2.5rem;
					}
				}
			}

		}
		.payment_rigth{
			width: 100%;
			.close{
				width: 20px;
				padding: 0;
				margin: -40px 10px;
				span{
					color: #c2c4cc;
					width: 20px;
					height: 20px;
					margin: 3px -10px;
					position: absolute;
					font-size: 40px;
					font-weight: 100;
					font-family: "GothamProRegular";
					transform: rotate(45deg);
					-ms-transform: rotate(45deg); /* IE 9 */
					-webkit-transform: rotate(45deg); /* Safari and Chrome */
				}
			}
			.payment_content{
				margin: 40px 25px;
				text-align: justify;

				p{
					font-family: "GothamProRegular";
					color: #575b66;
					line-height: 24px;

					span{
						color: #3b3e47;
						font-family: "GothamProMedium";
					}
				}
				.ways_of{
					text-align: center;
					p{
						color: #c2c4cc;
						font-family: "GothamProMedium";
						text-transform: uppercase;
						margin: 15px 10px 10px 0;
					}
					img{
						margin: 0 10px;
					}
				}
				.application_wrap{
					text-align: center;
					.application_button{
						width: 75.5%;
						margin: 35px 0 40px 0;
						background-color: #aac65a;
						color: #fff;
						font-family: "GothamProRegular";
						line-height: 3.125rem;
						border: none;
						border-radius: 25px;
						outline: none;
					}
				}
			}
		}
	}
}
/*xxxxxxxxxxxxxxxxxxxxxxxxx   THE-END ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/
@media (min-width: 0px) and (max-width: 320px) {
	.client_review_wrap {
		.pictures {
			a {

				img {
                  width: 55px;
                  height: 55px;
                }

					.pic {
						
						width: 55px;
						height: 55px;
						z-index: 20;
					}

			}
		}
	}
	.new_year_wrap {
		.button_wrap{
			/*xxxxxxxxxxxxxxxxxxxxxxxxx  ПОПАП-ЗАЯВКА   xxxxxxxxxxxxxxxxxxxxxxx*/

			@media (min-width: 200px){
				.modal-dialog {
					max-width: 300px;
					margin: 3.5rem auto;
				}
			}
			.modal-content{
				border-radius: 20px;
				border: none;
				.modal-top{
					text-align: center;
					margin: 0 20px;
					p{  
						margin-top: 55px;
						color: #575b66;
						line-height: 24px;
						font-family: "GothamProRegular";
					}
					.close{
						width: 20px;
						padding: 0px;
						margin: 3px 35px;
						span{
							color: #c2c4cc;
							width: 20px;
							height: 20px;
							margin: 3px 35px;
							position: absolute;
							font-size: 40px;
							font-weight: 100;
							font-family: "GothamProRegular";
							transform: rotate(45deg);
							-ms-transform: rotate(45deg); /* IE 9 */
							-webkit-transform: rotate(45deg); /* Safari and Chrome */
						}
					}
				}
				.form-group{
					margin: 0 20px;
					color: #575b66;
					.form-control{
						margin: 10px 5px;
						padding: .4rem 1.5rem;
						width: 96.5%;
						border: 1px solid #d9dade;
						border-radius: 6px;
						font-size: 1rem;
						line-height: 2rem;
						color: #575b66;	
					}
					.form-control:focus{
						box-shadow: none;
					}
				}
				.application_wrap{
					margin: 0px 20px;
					.application_button{
						width: 96.5%;
						margin: 15px 0 60px 0;
						background-color: #aac65a;
						color: #fff;
						font-family: "GothamProRegular";
						line-height: 3.125rem;
						border: none;
						border-radius: 25px;
						outline: none;
					}
				}
			}
			/*xxxxxxxxxxxxxxxxxxxxxxxxx  THE_END ПОПАП-ЗАЯВКА   xxxxxxxxxxxxxxxxxxxxxxx*/
		}
	}
	/*xxxxxxxxxxxxxxxxxxxxxxxxx   ПОКУПКА АБОНЕМЕНТЕ ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/

	@media (min-width: 200px) {
		.modal-lg {
			max-width: 550px;
		}
		.modal-content{
			border-radius: 15px;
			border: none;
		}
		.subscription_payment{
			width: 100%;

			.payment_left{
				width: 100%;
				background: url(../img/bg-red.png);
				border-radius: 15px 15px 0 0;

				.subscrip_one,
				.subscrip_two,
				.subscrip_three{
					margin: 60px 0px 60px;  			    
					.gift_massage_gray,
					.gift_massage_yellow{
						margin: 45px -2px 20px -10px;
						p{
							line-height: 2.5rem;
						}

					}
					.gift_massage_red{
						margin: 45px -2px 20px -17px;
						p{
							line-height: 2.5rem;
						}
					}
				}

			}
			.payment_rigth{
				width: 100%;
				.close{
					width: 20px;
					padding: 0;
					margin: -40px 10px;
					span{
						color: #c2c4cc;
						width: 20px;
						height: 20px;
						margin: 3px -10px;
						position: absolute;
						font-size: 40px;
						font-weight: 100;
						font-family: "GothamProRegular";
						transform: rotate(45deg);
						-ms-transform: rotate(45deg); /* IE 9 */
						-webkit-transform: rotate(45deg); /* Safari and Chrome */
					}
				}
				.payment_content{
					margin: 40px 25px;
					text-align: justify;

					p{
						font-family: "GothamProRegular";
						color: #575b66;
						line-height: 24px;

						span{
							color: #3b3e47;
							font-family: "GothamProMedium";
						}
					}
					.ways_of{
						text-align: center;
						p{
							color: #c2c4cc;
							font-family: "GothamProMedium";
							text-transform: uppercase;
							margin: 15px 10px 10px 0;
						}
						img{
							margin: 0 10px;
						}
					}
					.application_wrap{
						text-align: center;
						.application_button{
							width: 100%;
							margin: 35px 0 40px 0;
							background-color: #aac65a;
							color: #fff;
							font-family: "GothamProRegular";
							line-height: 3.125rem;
							border: none;
							border-radius: 25px;
							outline: none;
						}
					}
				}
			}
		}
	}
	/*xxxxxxxxxxxxxxxxxxxxxxxxx   THE-END ПОПАП   xxxxxxxxxxxxxxxxxxxxxxx*/



}